/* 선택자(selector) -> html의 태그 선택*/
/* Cascading Style Sheet */

/* header-center h1
자손선택자
자식은 바로 안에 있는거 '>' 사용 효과 똑같아서 보통은 생략 */
/* #은 id 가리킴, div는 생략하능 시멘트는 안됨 */

* {
  /* 별표 에스터리스크는 모든 테그 설정*/
  box-sizing: border-box; /*모든 테그의 박스 크기는 컨텐츠가 아니라 볼더를 기준으로 해라*/
}

html,
body {
  margin: 0;
  padding: 0;
}

.blind {
  /* 클래스는 '.' 선택자 */
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  height: 1px;
}

#header-center {
  /* margin: 0 auto -> 중앙정렬 */
  margin: 0 auto;
  width: 1080px; /*꽉안차게 설정*/
}
/* a테그는 밑줄이 있을 수 있으니 없애주기 */
#header-search a {
  text-decoration: none;
}

/*block-> 전체 다 차지 inline-block-> 설정한 width, hight만큼 차지 inline-> 컨텐츠크기만큼 자동차지 */
#header-search h1 {
  width: 200px;
  height: 48px;
  display: inline-block;
  /* background-image: url(./sp_search.png);
    background-position: -4px -4px;
    background-repeat: no-repeat; 한번에! */
  background: url(./sp_search.png) -4px -4px no-repeat;
  vertical-align: middle; /*정렬방식 선택후 형제테그 높이 맞추기*/
  position: relative;
  top: -6px;
}

#header-search h1 span {
  display: none;
}
#header-search h2 {
  display: none;
}

/* margin->border->padding->contents */
#header-search fieldset {
  margin-left: 20px;
  /* 시계방향px */
  padding: 12px 0 12px 10px;
  width: 521px;
  height: 49;
  display: inline-block;
  border: 2px solid #03cf5d; /*헥스 표기법*/
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  border: none;
  padding: 0; /*4방향 모두 0으로*/
  outline: none; /*눌렀을때 생기는 테두리제거*/
  vertical-align: top;
  width: 405px; /*input은 기본 inline-block*/
  height: 23px;
}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: -2px;
  top: -1px;
}

#search-image {
  /* # 앞에 span 생략 */
  background-image: url(./sp_search.png);
  background-position: -3px -60px; /*사진 위치찾기*/
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block; /*span은 기본 inline인데 inline은 크기 조절이 안된다.*/
  margin: 14px; /*마진을 맞춰서 가운데정렬*/
}

/***position: 기본 static, relative는 자신static에서 설정한만큼 상대적으로 이동****/
/* absolute는 자신의 컨테이닝블록(static이나 relative인(-> inline이 아닌) 가장 가까운 부모 테그)을 기반하여 위치  */
/* position: fixed 는 스크롤해도 위치그대로 */
