{% extends 'base.html' %} {% block content %}
<div>DevTool Detail</div>
<div>개발툴 세부내용 페이지 입니다.</div>
<article>
  <h2>{{devtool.name}}</h2>
  <p>{{devtool.kind}}</p>
  <p>{{devtool.description}}</p>
  <div class="col-4 border border-primary">
    <p>만들수 있는 SW 목록</p>
    {% for idea in ideas %} {% if idea.dev == devtool.name %}
    <a href="{% url 'idea_detail' idea.id %}">{{idea.title}}</a>
    {% endif %}{% endfor %}
  </div>
</article>

<div>
  <form action="{% url 'dev_delete' devtool.id %}" method="post">
    {% csrf_token %}
    <button>삭제</button>
  </form>
</div>
<a href="{% url 'dev_list' %}">목록</a>
<a href="{% url 'dev_update' devtool.id %}">수정</a>
{% endblock %}
