{% extends 'base.html' %} {% block content %}
<div>DevTool Detail Update</div>
<div>개발툴 세부내용 수정 페이지 입니다.</div>
<form action="{% url 'dev_update' devtool.id %}" method="post">
  {% csrf_token %}
  <h2>
    <input type="text" name="name" value="{{devtool.name}}" />
  </h2>
  <p>
    <input type="text" name="kind" value="{{devtool.kind}}" />
  </p>
  <textarea name="description" id="" cols="30" rows="10">
    {{devtool.description}}</textarea
  >
  <div>
    <input type="submit" value="SUBMIT" />
  </div>
</form>
{% endblock %}
