{% extends 'base.html' %} {% block content %}
<div>Idea Detail Update</div>
<div>아이디어 세부내용 수정 페이지 입니다.</div>
<form action="{% url 'idea_update' idea.id %}" method="post">
  {% csrf_token %}
  <h2>
    <p>아이디어명: </p>
    <input type="text" name="title" value="{{idea.title}}" />
  </h2>
  <p>
    <p>image:</p>
    <input type="file" name="photo" />
  </p>
  <textarea name="content" id="" cols="30" rows="10">
    {{idea.content}}</textarea
  >
  <p>아이디어 관심도: </p>
  <input type="number" name="interest" value="{{idea.interest}}" />
  <p>예상 개발툴:</p>
    {% csrf_token %}
    <div>
      <select name="dev" id="dev">
        {% for devtool in devtools %}
        <option value="{{devtool.name}}" id="{{devtool.name}}">{{devtool.name}}</option>
        {% endfor %}
      </select>
    </div>
  <div>
    <input type="submit" value="SUBMIT" />
  </div>
</form>
{% endblock %}
